<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="block">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/thumbbig-84631.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/thumbbig-641968.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/thumbbig-736462.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="sideImages">
        <img class="sideimg" src="/images/thumbbig-1311951.webp">
        <img class="sideimg" src="/images/thumbbig-1314535.webp">
        <img class="sideimg" src="/images/thumbbig-418724.webp">
        <img class="sideimg" src="/images/thumbbig-533007.webp">
        <img class="sideimg" src="/images/thumbbig-611138.webp">
    </div>
    <div class="sideImages2">
        <img class="sideimg" src="/images/thumbbig-1311951.webp">
        <img class="sideimg" src="/images/thumbbig-1314535.webp">
        <img class="sideimg" src="/images/thumbbig-418724.webp">
        <img class="sideimg" src="/images/thumbbig-533007.webp">
        <img class="sideimg" src="/images/thumbbig-611138.webp">
    </div>

    <form method="post">
        <input type="text" name="animeName" placeholder="Type anime name">
        <input class="submit" type="submit" formaction="/submit">
    </form>



</body>

</html>